@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
// 全局内容 颜色样式
.cblue{
  color: #409EFF;
}
// main-container global css
.app-container {
  padding: 20px;
}
.container{
  padding: 20px;
  background: #fff;
}
.mr10{
  margin-right: 10px;
}
.pagination{
  padding: 10px 20px;
  text-align: right;
}
/* 选项 */
.handle-box {
  margin-bottom: 20px;
}
.handle-select {
  width: 120px;
}
.handle-input {
  width: 200px;
  margin-right: 0;
  display: inline-block;
}
.search-btn{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  left: -7px;
  z-index: 1;
  position: relative;
}
/*table*/
.base-table{
  border: 1px solid #EBEEF5;
  border-bottom: 0;
  border-radius: 3px;
  th{
    background: #f5f7fa;
    border-right: 1px solid #EBEEF5;
    padding: 9px 0;
    font-size: 12px;
  }
  td{
    // border-right: 1px solid #EBEEF5;
    font-size: 12px;
  }
  // td:last-child{
  //   border-right: 0!important;
  // }

}
.head-span{
  height: 100px;
  background: #F6F8FC;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .head-span-title{
    font-size: 14px;
    color: #45505B;
    font-weight: bold;
  }
  .head-span-sub{
    font-size: 12px;
    color: #ADB1B5;
  }
}

.body-span{
  .el-form-item__label{
    height: 35px;
    font-weight: 540;
    font-size: 13px;
  }
}

/*elementui*/
.el-dropdown-menu{
  li{
    font-size: 12px;
  }
}
.list-img{
  width: 60px;
  height: 60px;
}
.create-btn{
  margin-top: 20px;
}
